@model RashidHospital.Models.OrderDetailVM

@{
    ViewBag.Title = "Create";
}
<style>
    #limheight {
    height: auto; /*your fixed height*/
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5; /*3 in those rules is just placeholder -- can be anything*/
}

#limheight li {
    display: inline-block; /*necessary*/
    padding-right:1px;
}

</style>
@using (Html.BeginForm("Create", "LabRequest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.LabOrderId)
    @Html.Hidden("PatientId", (int)ViewBag.PatientId)

    @Html.AntiForgeryToken()
    <div class="modal-body">
        <h4>

          Add new lab 
        </h4>
        <div class="callout callout-success">
            <b>Patient:</b> <span>@ViewBag.PatientInfo</span>
        </div>
        <h5> @Html.ValidationSummary("", new { @class = "text-danger" })</h5>
        <hr />
        <div class="modal-content">
           
            <ul id="limheight">

                @foreach (var value in Enum.GetValues(typeof(RashidHospital.Helper.Enum.LabTyps)))
                {
                    RashidHospital.Helper.Enum.LabTyps _obj = (RashidHospital.Helper.Enum.LabTyps)value;
                     var name = EnumHelper<RashidHospital.Helper.Enum.LabTyps>.GetDisplayValue(_obj);

                    <li style="margin: 5px 20px;">
                        <label for="selectedTypes'@value'">@name</label>
                        <input type="checkbox" id="selectedTypes'@value'" name="selectedTypes" value="@value" />
                    </li>

                    
                }
                <br />
                <br />
                <div class="form-group" style="float:right;">
                    <div class="col-md-12">
                        <button type="submit" value="Create" class="btn btn-default">add more</button>
                        <button value="Print" class="btn btn-primary" onclick="window.print();">Print</button>
                        <input type="button" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "LabRequest",new { @PatientId = (int)ViewBag.PatientId})'" />
                    </div>
                </div>
            </ul>
           
      
    </div>
        </div>
}