@model RashidHospital.Models.PatientVM
<link href="~/Content/build/css/intlTelInput.min.css" rel="stylesheet" />


<style>
    .form-horizontal .control-label {
        text-align: left;
    }
</style>
<form method="post" id="editDateForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        <div class="callout callout-success">
            <b>Patinent:</b> <span>@Model.Name</span>
        </div>
        <div class="box-body">
            <div class="form-group">
                @Html.Label("Cycle Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form -control", @type = "date", @required = "required" } })

                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="text-center">
            <span class="text-danger FinalErrorMsg"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" id="btnSubmit">Save</button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

        <button type="reset" class="btn btn-primary" id="btnCancel">Cancel</button>


    </div>
</form>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<script>
    $(".select2").select2({
        tags: true
    });
</script>
<script>
    $("#editDateForm").submit(function (e) {
		e.preventDefault();
			$("#btnSubmit").attr("disabled", true).text('Loading...');
			$.ajax({
				type: "Post",
				url: "@Url.Action("EditDatePatient", "ChemoTherapy")",
				cache: false,
                data: $("#editDateForm").serialize(),
				success: function (result) {
					if (result == "Success") {
					    $("#clinicModel").modal("hide");
						location.reload();
					}
					else if (result == "Error500") {
						window.location.href = '@Url.Action("Error500", "Home")';
					}
				},
			})
	});
</script>