@model RashidHospital.Models.ChemoTherapyTemplateVM


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <section class="content-header">
        <h2>ChemoTherapy Template </h2>

    </section>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Disease ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DD", new List<SelectListItem>

       {

new SelectListItem { Value = "1", Text = "Breast" },
  new SelectListItem { Value = "2", Text = "Colorectal" },
  new SelectListItem { Value = "3", Text = "Hematology" },
  new SelectListItem { Value = "4", Text = "HPB" },
  new SelectListItem { Value = "5", Text = "Gastric" },
  new SelectListItem { Value = "6", Text = "Gynecology" },
  new SelectListItem { Value = "7", Text = "Lung" },
  new SelectListItem { Value = "8", Text = "CNS" },
  new SelectListItem { Value = "9", Text = "Endocrine" },
  new SelectListItem { Value = "10", Text = "H&N" },
  new SelectListItem { Value = "11", Text = "Saroma" },
  new SelectListItem { Value = "12", Text = "Skin" },
  new SelectListItem { Value = "13", Text = "Bladder" },
  new SelectListItem { Value = "14", Text = "Germ Cell" },
  new SelectListItem { Value = "15", Text = "Prostate" },
  new SelectListItem { Value = "16", Text = "RCC" },
  new SelectListItem { Value = "17", Text = "Lymphoma" },
  new SelectListItem { Value = "18", Text = "Myeloma" }

       }, "Select Disease ", htmlAttributes: new { @class = "form-control select2" })

            @Html.ValidationMessageFor(model => model.Patient_ID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Protocol ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DD", new List<SelectListItem>

       {

new SelectListItem { Value = "1", Text = "Breast" },
  new SelectListItem { Value = "2", Text = "Colorectal" },
  new SelectListItem { Value = "3", Text = "Hematology" },
  new SelectListItem { Value = "4", Text = "HPB" },
  new SelectListItem { Value = "5", Text = "Gastric" },
  new SelectListItem { Value = "6", Text = "Gynecology" },
  new SelectListItem { Value = "7", Text = "Lung" },
  new SelectListItem { Value = "8", Text = "CNS" },
  new SelectListItem { Value = "9", Text = "Endocrine" },
  new SelectListItem { Value = "10", Text = "H&N" },
  new SelectListItem { Value = "11", Text = "Saroma" },
  new SelectListItem { Value = "12", Text = "Skin" },
  new SelectListItem { Value = "13", Text = "Bladder" },
  new SelectListItem { Value = "14", Text = "Germ Cell" },
  new SelectListItem { Value = "15", Text = "Prostate" },
  new SelectListItem { Value = "16", Text = "RCC" },
  new SelectListItem { Value = "17", Text = "Lymphoma" },
  new SelectListItem { Value = "18", Text = "Myeloma" }

       }, "Select Protocol ", htmlAttributes: new { @class = "form-control select2" })

            @Html.ValidationMessageFor(model => model.Patient_ID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Frequency, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Frequency, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cycle Days", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cycle_days, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cycle_days, "Please sepreate days with , ", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Maximum_cycles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Maximum_cycles, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Maximum_cycles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Emetogenic Level", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DD", new List<SelectListItem>

       {

new SelectListItem { Value = "1", Text = "High" },
  new SelectListItem { Value = "2", Text = "Modertae" },
  new SelectListItem { Value = "3", Text = "Low" },
  new SelectListItem { Value = "4", Text = "Minimal" },


       }, "Select Level "
           , htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.Patient_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FN_risk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FN_risk, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FN_risk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>
    </div>










    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>

    <script>
        $(".select2").select2({
            tags: true
        });
    </script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
}


