@model RashidHospital.Models.ChemoTherapyTemplateVM

<div>
    <h4>ChemoTherapyTemplateVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Protocol_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protocol_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle_days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle_days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum_cycles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum_cycles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emetogenic_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emetogenic_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FN_risk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FN_risk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Entered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Entered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Template_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
