
@model RashidHospital.Models.MedicalConditionVM
<link href="~/Content/build/css/intlTelInput.min.css" rel="stylesheet" />

<style>
    .form-control {
        margin-bottom: 4px;
    }
</style>
@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.PatientId)
    @Html.HiddenFor(model => model.HistroryType)

    <div class="modal-body">
        <div class="callout callout-success">
            <b>Add Condition</b>
        </div>
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.ConditionType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ConditionType", new SelectList(ViewBag.SurgicalList, "Value", "Text"), htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.ConditionType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Condition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Condition, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConditionDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form -control", @type = "date", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ConditionDate, "", new { @class = "text-danger" })
                </div>
            </div>
           

        </div>
        <div class="text-center">
            <span class="text-danger FinalErrorMsg"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "MedicalCondition", new { @patientID = (int)ViewBag.PatientId })'">Close</button>
        <button type="button" class="btn btn-primary" id="btnSubmit">add more</button>
        <button type="reset" class="btn btn-primary" id="btnCancel">Cancel</button>

    </div>
}


<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<script>
        $(".select2").select2({
        tags: true
    });
</script>
<script>

    $("body").on("click", "#btnSubmit", function () {
        var Condition = $("#Condition").val();
        var ConditionDate = $("#ConditionDate").val();
        var ConditionType = $("#ConditionType option:selected").val();
        var PatientId = $("#PatientId").val();
        var HistroryType = $("#HistroryType").val();

			$.ajax({
				type: "Post",
				url: "@Url.Action("AddCondition", "MedicalCondition")",
			    dataType: "json",
			    contextType: "application/json",
			    data: { "Condition": Condition, "ConditionDate": ConditionDate, "ConditionType": ConditionType, "HistroryType": HistroryType, "PatientId": PatientId },
			    traditional: true,
				success: function (result) {
				    $("#Condition").val('');
				    $("#ConditionDate").val('');
				}
			})

	});
</script>
