@model IEnumerable<RashidHospital.Models.MedicalConditionVM>

    @{
        ViewBag.Title = "Index";
    }
    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

    <section class="content-header">
        <h1>Patient History @ViewBag.PatientInfo</h1>
    </section>

    <section class="content">
       
        <a class="btn btn-success adjust-actions" title="Edit Diagnose" onclick="openRecordsModal(@ViewBag.PatientQuery)">
            Patient Visit
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openReqandRestModal(@ViewBag.PatientQuery)">
            Requests and Results
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openViewModal(@ViewBag.PatientQuery)">
            Patient Profile
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openAppointmentModal(@ViewBag.PatientQuery)">
            Appointment
        </a>
        <div class="loadingPage" id="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openMedicalModal(@ViewBag.PatientId )">
                           Medical History
                        </a>
                        <a class="btn btn-success adjust-actions" title="Edit Surgical" onclick="openSurgicalModal(@ViewBag.PatientId)">
                            Surgical History
                        </a>
                        <a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openAllergyModal(@ViewBag.PatientId )">
                            Allergy History
                        </a>
                        <a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openFamilyModal(@ViewBag.PatientId )">
                            Family History
                        </a>
                        @*<a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openHypertensionModal(@ViewBag.PatientId )">
                            Hypertension 
                        </a>
                        <a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openDiapitesModal(@ViewBag.PatientId )">
                            Diapites 
                        </a>*@
                        @if (ViewBag.gender == "female")
                        {
                            <a class="btn btn-success adjust-actions" title="Edit Menstrual" onclick="openMenstrualModal(@ViewBag.PatientId)">
                                Menstrual History
                            </a>
                        }
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Condition Date</th>
                                    <th>Condition Name</th>
                                    <th>History Name</th>
                                    <th>Condition</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.IsDeleted == true)
                                    {
                                        <tr style='color:red;text-decoration:line-through'>
                                            <td class="adjustContent">@item.ConditionDate</td>
                                            <td class="adjustContent">@item.ConditionName</td>
                                            <td class="adjustContent">@item.HistoryName</td>
                                            
                                            <td class="adjustContent">@item.Condition</td>
                                            <td>
                                                
                                            </td>

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr >
                                            <td class="adjustContent">@item.ConditionDate</td>
                                            <td class="adjustContent">@item.ConditionName</td>
                                            <td class="adjustContent">@item.HistoryName</td>
                                            
                                            <td class="adjustContent">@item.Condition</td>
                                            <td>
                                                <a class="btn btn-danger banBtn adjust-actions" title="Delete" onclick="OpenDeleteModal(@item.Id)">
                                                    <i class="fa fa-ban"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Edit Modal-->
    <div class="modal fade" id="MedicalModel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Medical Condition</h4>
                </div>
                <div id="editMedicalBody"></div>
            </div>
        </div>
    </div>
<!--Edit Surgical Modal-->
<div class="modal fade" id="SurgicalModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Surgical Condition</h4>
            </div>
            <div id="editSurgicalBody"></div>
        </div>
    </div>
</div>
  
<!--Edit Menstrual Modal-->
<div class="modal fade" id="MenstrualModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Menstrual Condition</h4>
            </div>
            <div id="editMenstrualBody"></div>
        </div>
    </div>
</div>

<!--openAllergyModal-->
<div class="modal fade" id="AllergyModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Allergy Condition</h4>
            </div>
            <div id="editAllergyBody"></div>
        </div>
    </div>
</div>
<!--  openFamilyModal  -->
<div class="modal fade" id="FamilyModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Family Condition</h4>
            </div>
            <div id="editFamilyBody"></div>
        </div>
    </div>
</div>
<!--openHypertensionModal-->
<div class="modal fade" id="HypertensionModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Hypertension Condition</h4>
            </div>
            <div id="editHypertensionBody"></div>
        </div>
    </div>
</div>

<!--openDiapitesModal-->
<div class="modal fade" id="DiapitesModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Diapites Condition</h4>
            </div>
            <div id="editDiapitesBody"></div>
        </div>
    </div>
</div>
    <!--Deactivate Modal-->
<div class="modal" id="deactivateModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="margin: auto;">
                <input hidden id="AccountId" />
                <img src="~/Content/img/user_disable.png" class="imgStyle" />
                <br />
                <h4 class="text-center">Are you sure you want to Delete this? </h4>
                <p class="text-center text-danger" id="ErrorMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeactivateBtn">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

    @section scripts {
        <script src="~/Scripts/jquery.dataTables.js"></script>
        <script src="~/Scripts/dataTables.bootstrap4.js"></script>
        <script src="~/Scripts/intlTelInput.min.js"></script>

        <script>
		$(function () {
	    	$("#loading").fadeOut();
		});

		$('#example1').DataTable({
		    "paging": true,
		    "lengthChange": false,
		    "searching": true,
		    "order": [[ 0, "desc" ]],
		    "info": true,
		    "autoWidth": false,
		    "scrollX": true,
		});


		//openMedicalModal
		function openMedicalModal(patientID) {
		    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

		    $.ajax({
		        type: "GET",
		        url: "@Url.Action("_EditMedical", "MedicalCondition")",
		        cache: false,
		        data: { patientID: patientID },
		        success: function (result) {
		            if (result.IsRedirect) {
		                window.location.href = result.RedirectUrl;
		            }
		            else {
		                $("#editMedicalBody").html(result.Content);
		                $("#MedicalModel").modal("show")
		            }
		        },
		        error: function (result) {
		            window.location.href = '@Url.Action("Error404", "Home")';
		        },
		    })
		};

            function openReqandRestModal(patientID){
                window.location.href ='/Patient/RequestsandResults?patientID='+patientID;

            }
            function openModal(patientID){
                window.location.href ='/MedicalCondition/index?patientID='+patientID;
            }

            function openViewModal(patientID){
                window.location.href ='/Patient/View?patientID='+patientID;

            }
            function openRecordsModal(patientID){
                window.location.href ='/MedicalRecord/index?patientID='+patientID;
            }
            function openAppointmentModal(patientID){
                window.location.href ='/Appointment/Create?PatientId='+patientID;
    
            }
    
            //openMedicalModal
            function openSurgicalModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_EditSurgical", "MedicalCondition")",
                    cache: false,
                    data: { patientID: patientID },
                    success: function (result) {
                        if (result.IsRedirect) {
                            window.location.href = result.RedirectUrl;
                        }
                        else {
                            $("#editSurgicalBody").html(result.Content);
                            $("#SurgicalModel").modal("show")
                        }
                    },
                    error: function (result) {
                        window.location.href = '@Url.Action("Error404", "Home")';
                    },
                })
            };
            //editAllergyBody
            function openAllergyModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_EditAllergy", "MedicalCondition")",
                    cache: false,
                    data: { patientID: patientID },
                    success: function (result) {
                        if (result.IsRedirect) {
                            window.location.href = result.RedirectUrl;
                        }
                        else {
                            $("#editAllergyBody").html(result.Content);
                            $("#AllergyModel").modal("show")
                        }
                    },
                    error: function (result) {
                        window.location.href = '@Url.Action("Error404", "Home")';
                    },
                })
            };

            //editFamilyModal
            function openFamilyModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_FamilyModal", "MedicalCondition")",
                    cache: false,
                    data: { patientID: patientID },
                    success: function (result) {
                        if (result.IsRedirect) {
                            window.location.href = result.RedirectUrl;
                        }
                        else {
                            $("#editFamilyBody").html(result.Content);
                            $("#FamilyModel").modal("show")
                        }
                    },
                    error: function (result) {
                        window.location.href = '@Url.Action("Error404", "Home")';
                    },
                })
            };
            //editHypertensionModal
            function openHypertensionModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_HypertensionModal", "MedicalCondition")",
                    cache: false,
                data: { patientID: patientID },
                success: function (result) {
                    if (result.IsRedirect) {
                        window.location.href = result.RedirectUrl;
                    }
                    else {
                        $("#editHypertensionBody").html(result.Content);
                        $("#HypertensionModel").modal("show")
                    }
                },
                error: function (result) {
                    window.location.href = '@Url.Action("Error404", "Home")';
                },
                })
            };
            //openHypertensionModal
            function openDiapitesModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_DiapitesModal", "MedicalCondition")",
                    cache: false,
                data: { patientID: patientID },
                success: function (result) {
                    if (result.IsRedirect) {
                        window.location.href = result.RedirectUrl;
                    }
                    else {
                        $("#editDiapitesBody").html(result.Content);
                        $("#DiapitesModel").modal("show")
                    }
                },
                error: function (result) {
                    window.location.href = '@Url.Action("Error404", "Home")';
                },
                })
            };
            //delete
            function OpenDeleteModal(AccountId) {
                $("#AccountId").val(AccountId);
                $("#deactivateModal").modal("show");
            };

            $("#DeactivateBtn").click(function () {
                var AccountId = $("#AccountId").val();
                $("#ErrorMsg").html("");
                $("#DeactivateBtn").attr("disabled", true).text('Loading...');
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Delete", "MedicalCondition")",
                    cache: false,
                    data: { ConditionID: AccountId },
                dataType: "json",
                success: function (result) {
                    if (result == 1) {
                        $("#deactivateModal").modal("hide");
                        location.reload();
                    }
                    else if (result == 6) {
                        $("#ErrorMsg").html("An error occurred, please try again ");
                        $("#DeactivateBtn").attr("disabled", false).text('Yes');
                    }
                },
                })
            });


            function openMenstrualModal(patientID) {
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_EditMenstrual", "MedicalCondition")",
                    cache: false,
                    data: { patientID: patientID },
                    success: function (result) {
                        if (result.IsRedirect) {
                            window.location.href = result.RedirectUrl;
                        }
                        else {
                            $("#editMenstrualBody").html(result.Content);
                            $("#MenstrualModel").modal("show")
                        }
                    },
                    error: function (result) {
                        window.location.href = '@Url.Action("Error404", "Home")';
                    },
                })
            };
           
        </script>

    }
