@model IEnumerable<RashidHospital.Models.PatientVM>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

<section class="content-header">
    <h1>Manage Patient</h1>   
</section>

<section class="content">
    <div class="loadingPage" id="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@Html.ActionLink("Add New Patient", "Create", "Patient")
</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Medical.ID</th>
                                <th>N.ID</th>
                                <th>Name</th>
                                <th>Arabic Name</th>
                                <th>Unit Name</th>
                                <th>Unit ID</th>
                                <th>Registration Date</th>
                                <th>Last Visit</th>
                                <th>Diagnosis</th>
                                <th>Phone</th>
                                <th class="text-center" width="110px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.IsDeleted == true)
                                {
                                    <tr style='color:red;text-decoration:line-through'>
                                        <td class="adjustContent">@item.MedicalID</td>
                                        <td class="adjustContent">@item.NationalID</td>
                                        <td class="adjustContent">@item.Name</td>
                                        <td class="adjustContent">@item.NameArabic</td>
                                        <td class="adjustContent">@item.PatientUnitName</td>
                                        <td class="adjustContent">@item.UnitID</td>
                                        <td class="adjustContent">@item.CreatedDate</td>
                                        <td class="adjustContent">@item.LastVisitDate</td>
                                        <td>@item.DiagnoseName</td>
                                        <td>@item.PhoneNumber1</td>
                                        <td class="adjustContent text-center">
                                           
                                            <a class="btn btn-success adjust-actions" title="view" onclick="openModal(@item.Id)">
                                                <i class="fa fa-address-book-o"></i>
                                            </a>
                                            <a class="btn btn-success adjust-actions" title="Appointment" href="/Appointment/Create?PatientId=@item.Id">
                                                <i class="fa fa-clock-o"></i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr >
                                        <td class="adjustContent">@item.MedicalID</td>
                                        <td class="adjustContent">@item.NationalID</td>
                                        <td class="adjustContent">@item.Name</td>
                                        <td class="adjustContent">@item.NameArabic</td>
                                        <td class="adjustContent">@item.PatientUnitName</td>
                                        <td class="adjustContent">@item.UnitID</td>
                                        <td class="adjustContent">@item.CreatedDate</td>
                                        <td class="adjustContent">@item.LastVisitDate</td>
                                        <td>@item.DiagnoseName</td>
                                        <td>@item.PhoneNumber1</td>
                                        <td class="adjustContent text-center">
                                            @if (User.IsInAnyRoles("Admin"))
                                            {
                                                <a class="btn btn-success adjust-actions" title="Edit" onclick="openEditModal(@item.Id)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            }
                                            <a class="btn btn-success adjust-actions" title="view" onclick="openModal(@item.Id)">
                                                <i class="fa fa-address-book-o"></i>
                                            </a>
                                            <a class="btn btn-success adjust-actions" title="Appointment" href="/Appointment/Create?PatientId=@item.Id">
                                                <i class="fa fa-clock-o"></i>
                                            </a>

                                            <a class="btn btn-danger banBtn adjust-actions" title="Delete" onclick="OpenDeleteModal(@item.Id)">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Edit Modal-->
<div class="modal fade" id="clinicModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Patient</h4>
            </div>
            <div id="editClinicBody"></div>
        </div>
    </div>
</div>


<!--Deactivate Modal-->
<div class="modal" id="deactivateModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="margin: auto;">
                <input hidden id="AccountId" />
                <img src="~/Content/img/user_disable.png" class="imgStyle" />
                <br />
                <h4 class="text-center">Are you sure you want to Delete this Patient? </h4>
                <p class="text-center text-danger" id="ErrorMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeactivateBtn">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/intlTelInput.min.js"></script>

    <script>
		$(function () {
	    	$("#loading").fadeOut();
		});

		$('#example1').DataTable({
		    "paging": true,
		    "lengthChange": false,
		    "searching": true,
		    "order": [[0, "desc"]],
		    "info": true,
		    "autoWidth": true,
		    "scrollX": true,
		    "columnDefs": [
           {
               "targets": [1],
               "visible": false,
               "searchable": true
           },
           {
               "targets": [9],
               "visible": false,
               "searchable": true
           },
            {
                "targets": [5],
                "visible": false,
                "searchable": true
            },
		    ]
		});

		function openEditModal(ClinicID) {
		    $.ajax({
		        type: "GET",
		        url: "@Url.Action("_Edit", "Patient")",
		        cache: false,
		        data: { patientID: ClinicID },
		    success: function (result) {
		        if (result.IsRedirect) {
		            window.location.href = result.RedirectUrl;
		        }
		        else {
		            $("#editClinicBody").html(result.Content);
		            $("#clinicModel").modal("show")
		        }
		    },
		    error: function (result) {
		        window.location.href = '@Url.Action("Error404", "Home")';
		    },
			})
		}
       
      
        function openModal(patientID){
            window.location.href ='/Patient/View?patientID='+patientID;
        }
		function OpenDeleteModal(AccountId) {
		    $("#AccountId").val(AccountId);
		    $("#deactivateModal").modal("show");
		}

		$("#DeactivateBtn").click(function () {
		    var AccountId = $("#AccountId").val();
		    $("#ErrorMsg").html("");
		    $("#DeactivateBtn").attr("disabled", true).text('Loading...');
		    $.ajax({
		        type: "Post",
		        url: "@Url.Action("DeletePatient", "Patient")",
		        cache: false,
		        data: { patientID: AccountId },
		    dataType: "json",
		    success: function (result) {
		        if (result == 1) {
		            $("#deactivateModal").modal("hide");
		            location.reload();
		        }
		        else if (result == 6) {
		            $("#ErrorMsg").html("An error occurred, please try again ");
		            $("#DeactivateBtn").attr("disabled", false).text('Yes');
		        }
		    },
		    })
		});
    </script>
}