@model IEnumerable<RashidHospital.Models.RadiologyRequestVM>

@{
    ViewBag.Title = "index";
}

<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

<section class="content-header">
    <h1>@ViewBag.PatientInfo</h1>
</section>

<section class="content">
    
    <div class="loadingPage" id="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="modal-body">
        <a class="btn btn-success adjust-actions" title="History" onclick="openModal(@ViewBag.PatientId)">
            Patient History
        </a>
        <a class="btn btn-success adjust-actions" title="Visits" onclick="openRecordsModal(@ViewBag.PatientId)">
            Patient Visit
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openReqandRestModal(@ViewBag.PatientId)">
            Requests and Results
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openViewModal(@ViewBag.PatientId)">
            Patient Profile
        </a>
        <a class="btn btn-success adjust-actions" title="Patient" onclick="openAppointmentModal(@ViewBag.PatientId)">
            Appointment
        </a>

    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <a class="btn btn-success adjust-actions" title="Edit Medical" onclick="openCreatelModal(@ViewBag.PatientId )">
Add new Radiology Requests
                    
                                        </a>               
                 </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Procedure Type</th>
                                <th>Site</th>
                                <th>Contrast</th>
                                <th>Note</th>
                                <th>Signutre</th>
                                <th class="text-center" width="110px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.IsDeleted == true)
                                {
                                    <tr style='color:red;text-decoration:line-through'>
                                        <td class="adjustContent">@item.ProcString</td>
                                        <td class="adjustContent">@item.SiteString</td>
                                        <td class="adjustContent">@item.Contrast</td>
                                        <td class="adjustContent">@item.Note</td>
                                        <td class="adjustContent">@item.DoctorName</td>

                                        <td class="adjustContent text-center">

                                            <a class="btn btn-success adjust-actions" title="view" onclick="openRadiologyViewModal(@item.Id)">
                                                <i class="fa fa-address-book-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr >
                                        <td class="adjustContent">@item.ProcString</td>
                                        <td class="adjustContent">@item.SiteString</td>
                                        <td class="adjustContent">@item.Contrast</td>
                                        <td class="adjustContent">@item.Note</td>
                                        <td class="adjustContent">@item.DoctorName</td>

                                        <td class="adjustContent text-center">

                                           
                                            @if (ViewBag.DoctorId == item.CreatedBy.ToString())
                                            {
                                                <a class="btn btn-success adjust-actions" title="Edit" onclick="OpenEditModal(@item.Id)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            }
                                            <a class="btn btn-success adjust-actions" title="view" onclick="openRadiologyViewModal(@item.Id)">
                                                <i class="fa fa-address-book-o"></i>
                                            </a>
                                            <a class="btn btn-danger banBtn adjust-actions" title="Delete" onclick="OpenDeleteModal(@item.Id)">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--openCreateModal-->
<div class="modal fade" id="CreateModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div id="CreateBody"></div>
        </div>
    </div>
</div>
<!--openEditModal-->
<div class="modal fade" id="EditModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div id="EditBody"></div>
        </div>
    </div>
</div>

   <!--Deactivate Modal-->
<div class="modal" id="deactivateModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="margin: auto;">
                <input hidden id="AccountId" />
                <img src="~/Content/img/user_disable.png" class="imgStyle" />
                <br />
                <h4 class="text-center">Are you sure you want to Delete this? </h4>
                <p class="text-center text-danger" id="ErrorMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeactivateBtn">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/intlTelInput.min.js"></script>
<script>
		$(function () {
	    	$("#loading").fadeOut();
		});

		$('#example1').DataTable({
		    "paging": true,
		    "lengthChange": false,
		    "searching": true,
		    "order": [[0, "desc"]],
		    "info": true,
		    "autoWidth": false,
		    "scrollX": true,
		});


		//openMedicalModal
		function openCreatelModal(patientID) {
		    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

		    $.ajax({
		        type: "GET",
		        url: "@Url.Action("_Create", "RadiologyRequest")",
		        cache: false,
		        data: { patientID: patientID },
		        success: function (result) {
		            if (result.IsRedirect) {
		                window.location.href = result.RedirectUrl;
		            }
		            else {
		                $("#CreateBody").html(result.Content);
		                $("#CreateModel").modal("show")
		            }
		        },
		        error: function (result) {
		            window.location.href = '@Url.Action("Error404", "Home")';
		        },
		    })
		};

            //delete
            function OpenDeleteModal(AccountId) {
                $("#AccountId").val(AccountId);
                $("#deactivateModal").modal("show");
            };

            $("#DeactivateBtn").click(function () {
                var AccountId = $("#AccountId").val();
                $("#ErrorMsg").html("");
                $("#DeactivateBtn").attr("disabled", true).text('Loading...');
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Delete", "RadiologyRequest")",
                    cache: false,
                    data: { RequestID: AccountId },
                dataType: "json",
                success: function (result) {
                    if (result == 1) {
                        $("#deactivateModal").modal("hide");
                        location.reload();
                    }
                    else if (result == 6) {
                        $("#ErrorMsg").html("An error occurred, please try again ");
                        $("#DeactivateBtn").attr("disabled", false).text('Yes');
                    }
                },
                })
            });
    
    //openMedicalModal
    function OpenEditModal(patientID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("_Edit", "RadiologyRequest")",
            cache: false,
            data: { Id: patientID },
        success: function (result) {
            if (result.IsRedirect) {
                window.location.href = result.RedirectUrl;
            }
            else {
                $("#EditBody").html(result.Content);
                $("#EditModel").modal("show")
            }
        },
        error: function (result) {
            window.location.href = '@Url.Action("Error404", "Home")';
        },
		    })
    };
    function openRadiologyViewModal(patientID){
        window.location.href ='/RadiologyRequest/View?Id='+patientID;
    }
</script>
<script>
        function openViewModal(patientID) {
            window.location.href = '/Patient/View?patientID=' + patientID;

        }
        function openAppointmentModal(patientID) {
            window.location.href = '/Appointment/Create?PatientId=' + patientID;

        }
        function openModal(patientID) {
            window.location.href = '/MedicalCondition/index?patientID=' + patientID;
        }
        function openReqandRestModal(patientID) {
            window.location.href = '/Patient/RequestsandResults?patientID=' + patientID;

        }
        function openViewModal(patientID) {
            window.location.href = '/Patient/View?patientID=' + patientID;

        }
        function openRecordsModal(patientID) {
            window.location.href = '/MedicalRecord/index?patientID=' + patientID;
        }
        function openAppointmentModal(patientID) {
            window.location.href = '/Appointment/Create?PatientId=' + patientID;

        }
</script>
}