@model RashidHospital.Models.ChemoTherapyDrugVM



@using (Html.BeginForm("Create", "ChemoTherapyDrug", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.Template_ID)
    @Html.HiddenFor(model => model.Therapy_Type)

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <section class="content-header">

        @{
            if (@Model.Therapy_Type == "pre")
            {
                <h2>Protocol Pre Therapy</h2>
            }

            if (@Model.Therapy_Type == "Therapy")
            {
                <h2>Protocol Therapy</h2>
            }


            if (@Model.Therapy_Type == "post")
            {
                <h2>Protocol Post Therapy</h2>
            }

        }
    </section>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })





    <div class="form-group">
        @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Sequence_Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sequence_Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sequence_Number, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.Label("Drug Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DrugType", new SelectList((IEnumerable<SelectListItem>)ViewBag.Drugs, "Value", "Text"), htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.DrugType, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Drug_Dose, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Drug_Dose, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Drug_Dose, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Unit", new SelectList((IEnumerable<SelectListItem>)ViewBag.Unit, "Value", "Text"), htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Route", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Route", new SelectList((IEnumerable<SelectListItem>)ViewBag.Route, "Value", "Text"), htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.Route, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.Fluid_Vol, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fluid_Vol, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fluid_Vol, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Fluid_Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Fluid_Type", new SelectList((IEnumerable<SelectListItem>)ViewBag.Fluid, "Value", "Text"), htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.Fluid_Type, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.Label("Duration/min", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />



    <script type="text/javascript">

        $("#ResualtDate").datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            orientation: 'bottom left'
        });


    </script>
    <script>
        $(".select2").select2({
            tags: true
        });
    </script>



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>



    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
}