@model IEnumerable<RashidHospital.Models.ChemoTherapyDrugVM>
<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
<style>
    .columns {
        float: left;
        position: relative;
        margin-right: 41px;
        background-color: azure;
        padding-right: 59px;
        column-count: 2;
        width: 10000px;
    }
</style>
</head>
<body>
    <section class="content-header">
        <h2>Pre Therapy</h2>

    </section>

    <div class="box-header">
        <h3 class="box-title">
            <a href="@Url.Action("Create", "ChemoTherapyDrug", new {templateID = ViewBag.patientID, therapyType = "pre" })" class="btn btn-primary">
                Add New Drug
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </h3>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" style="width:100%" width="100%" border=1>
            <thead>
                <!--column names -->
                <tr>
                   
                  
                    <th>
                        @Html.DisplayNameFor(model => model.Days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sequence_Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Dose)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Vol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Route)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Therapy_Type == "pre")
                    {
                    <tr>
                      
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sequence_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drug_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drug_Dose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fluid_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fluid_Vol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Drug_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Drug_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Drug_ID })
                        </td>
                    </tr>
                    }
                }

        </table>
    </div>

    <section class="content-header">
        <h2>Therapy</h2>

    </section>
    <div class="box-header">
        <h3 class="box-title">
            <a href="@Url.Action("Create", "ChemoTherapyDrug", new {templateID = ViewBag.patientID, therapyType = "Therapy" })" class="btn btn-primary">
                Add New Drug
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </h3>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" style="width:100%" width="100%" border=1>
            <thead>
                <!--column names -->
                <tr>

                 
                 
                    <th>
                        @Html.DisplayNameFor(model => model.Days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sequence_Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Dose)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Vol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Route)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Therapy_Type == "Therapy")
                    {
                    <tr>
                       
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sequence_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drug_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drug_Dose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fluid_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fluid_Vol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { patientID = item.Drug_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Drug_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Drug_ID })
                        </td>
                    </tr>
                    }
                }

        </table>
    </div>


    <section class="content-header">
        <h2>Post Therapy</h2>

    </section>
    <div class="box-header">
        <h3 class="box-title">
            <a href="@Url.Action("Create", "ChemoTherapyDrug", new {templateID = ViewBag.patientID, therapyType = "post" })" class="btn btn-primary">
                Add New Drug
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </h3>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" style="width:100%" width="100%" border=1>
            <thead>
                <!--column names -->
                <tr>

                  
                  
                    <th>
                        @Html.DisplayNameFor(model => model.Days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sequence_Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug_Dose)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fluid_Vol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Route)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>


               
                @foreach (var item in Model)
                {
                    if (item.Therapy_Type == "post")
                    {
                        <tr>
                           
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sequence_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Drug_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Drug_Dose)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fluid_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fluid_Vol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Unit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Route)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Drug_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Drug_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Drug_ID })
                            </td>
                        </tr>
                    }
                }


</table>
    </div>
