@model RashidHospital.Models.AppointmentVM

@{
    ViewBag.Title = "Create";
}

<style>
    .form-horizontal .control-label {
   text-align:left;
         }
</style>
@using (Html.BeginForm("Create", "Appointment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.AntiForgeryToken()
    <div class="modal-body">
        <h4>
            Create a new Appointment.
            <br />
            @if (ViewBag.PatientInfo != null)
            { @ViewBag.PatientInfo}
        </h4>
        @if (ViewBag.Error != null) {<h5>@ViewBag.Error </h5> }
        <h5> @Html.ValidationSummary("", new { @class = "text-danger" })</h5>
        <hr />
        <div class="box-body">
            <div class="form-group">
                @Html.Label("Clinic", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ClinicId", new SelectList(ViewBag.clinicList, "Value", "Text"), htmlAttributes: new { @class = "form-control select2", @required = "required" })
                    @Html.ValidationMessageFor(model => model.ClinicId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Appointment Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AppointmentDate, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            
            <div class="form-group" style="float:right;">
                <div class="col-md-12">
                    <button type="submit" value="Create" class="btn btn-default" >Create</button>
                    <input type="button" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "Patient")'" />
                    <button type="reset" class="btn btn-primary" id="btnCancel">Cancel</button>

                </div>
            </div>
        </div>
   </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<script>
        $(".select2").select2({
        tags: true
    });
</script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
</script>
}
