
@model IEnumerable<RashidHospital.Models.ChemoTherapyCycleDayVM>


<section class="content-header">
    <h1>
        Current Patients
    </h1>
</section>

<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />


<section class="content">
    <div class="loadingPage" id="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">


                    <a class="btn btn-success adjust-actions" title="Patient" onclick="openPendingModal()">
                        Pending Doctor Approved

                    </a>

                    <a class="btn btn-success adjust-actions" title="Patient" onclick="openFinalAppModal()">
                        Final Approved

                    </a>

                </div>
            </div>

        </div>

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Disease</th>
                        <th>Protocol </th>


                        <th> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Disease)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Protocol)
                            </td>



                            <td>

                                @Html.ActionLink("Open", "Index", "ChemoTherapyCyclePackage", new { Id = item.ID, pid = item.Patient_ID }, null) |
                                @Html.ActionLink("File Record", "View", "Patient", new { patientID = item.Patient_ID }, null)

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


@section scripts {
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/intlTelInput.min.js"></script>
    <script>
        $(function () {
            $("#loading").fadeOut();
        });

        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "order": [[0, "desc"]],
            "info": true,
            "autoWidth": false,
            "scrollX": true,
        });



    </script>

    <script>
        function openPendingModal() {
            window.location.href = '/ClinicalPharmacy/Pending';
        }
        function openFinalAppModal() {
            window.location.href = '/ClinicalPharmacy/FinalApproved';
        }


    </script>









    /**/
}
